{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider blue">
	<div class="col-md-12"></div>
</div>
<div class="row banner main">
	<div class="col-md-1"></div>
	<div class="col-md-11 padding-none">
		<h1 class="title">{{item.name}}
				<figure class="creator">
					<img  src="{{ creator.picture}}">
					<figcaption>{{ creator.name }}</figcaption>
				</figure>
		</h1>
	</div>
</div>	
<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
	{% if messages %}
			
		<ul>
		{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
		{% endif %}
{% endwith %}

</div>


	
	
	<div class="row">
		<div class="col-md-6 col-md-offset-0 padding-top">
			<div class="item">
				<h3>{{item.name}}</h3>
				<div class="thumbnail">
					<img class="img-responsive img-center item-img" src="{{ item.picture }}" alt="{{ item.name }}">
				</div>
				<p>{{item.description}}</p>
				<p class="item-price">${{item.price}}</p>
			</div>
		</div>
		
	</div>
{% endblock %}